.no-result {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ensure the container takes up the entire viewport height */
  }
  
  .header {
    text-align: center; /* Center the text horizontally */
    /* You can adjust the styles of the header as needed */
  }