.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  gap: 2rem;
  justify-content: center;
}

.project-body {
  /* Set a fixed height for your project cards */
  height: auto; /* Adjust the height as needed */
  overflow: hidden;
  box-shadow: 0 2px 20px #e1e5ee;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;
}

.project-name .MuiCardHeader-title {
  padding: 1rem;
  font-weight: bold;
  font-size: 20px;
}

.project-description {
  padding: 0 1rem;
  font-weight: bold;
}

.project-image {
  height: 12rem;
  width: 100%;
  object-fit: cover;
}

.view-more-button {
  padding: 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem;
  border: 2px solid #6195fb;
  background: transparent;
  color: #6195fb;
  border-radius: 0.2rem;
  transition: background 200ms ease-in, color 200ms ease-in;
}

.project-container:hover {
  transform: scale(1.02);
}

.view-more-button:hover {
  background: #6195fb;
  color: white;
}

/* Style the wrapper */
.apply-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 2rem;
}
